name: E2E Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.5"

      - name: Run E2E Tests
        run: go test -v -tags=e2e -timeout 15m ./test/e2e/...
