name: Integration Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 0 * * 0' # weekly

jobs:
  # Standalone tests that don't need external services
  standalone-tests:
    runs-on: ubuntu-latest
    container: ubuntu:22.04
    steps:
      - name: Install dependencies
        run: |
          apt-get -q update
          DEBIAN_FRONTEND="noninteractive" apt-get install -y git curl make sudo jq

      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.5"

      - name: Build and Install
        run: |
          git config --global --add safe.directory /__w/confd/confd
          make build
          sudo make install

      - name: Test Env Backend
        run: |
          test/integration/backends/env/test.sh
          test/integration/shared/expect/check.sh

      - name: Test Per-Resource Backend
        run: |
          test/integration/features/per-resource-backend/test.sh

      - name: Test File Backend (YAML)
        run: |
          test/integration/backends/file/test_yaml.sh
          test/integration/shared/expect/check.sh

      - name: Test File Backend (JSON)
        run: |
          test/integration/backends/file/test_json.sh
          test/integration/shared/expect/check.sh

      - name: Test Template Functions
        run: |
          test/integration/features/functions/test.sh

      - name: Test check_cmd and reload_cmd
        run: |
          test/integration/features/commands/test.sh

      - name: Test File Permissions
        run: |
          test/integration/features/permissions/test.sh

      - name: Test Negative/Error Conditions
        run: |
          test/integration/validation/negative/test.sh

      - name: Test Failure Modes
        run: test/integration/features/failuremode/test.sh

      - name: Test Template Include Function
        run: test/integration/features/include/test.sh

  # Tests requiring Consul, etcd, Redis, and Zookeeper
  backend-tests:
    runs-on: ubuntu-latest
    container: ubuntu:22.04
    services:
      consul:
        image: hashicorp/consul
        ports:
          - 8500:8500
      etcd:
        image: quay.io/coreos/etcd:v3.5.13
        ports:
          - 2379:2379
        env:
          ETCD_LISTEN_CLIENT_URLS: http://0.0.0.0:2379
          ETCD_ADVERTISE_CLIENT_URLS: http://0.0.0.0:2379
      redis:
        image: redis
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      zookeeper:
        image: zookeeper
        ports:
          - 2181:2181
        env:
          ZOO_STANDALONE_ENABLED: true

    steps:
      - name: Install dependencies
        run: |
          apt-get -q update
          DEBIAN_FRONTEND="noninteractive" apt-get install -y git curl make redis-tools sudo jq etcd-client netcat-openbsd

      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.5"

      - name: Build and Install
        run: |
          git config --global --add safe.directory /__w/confd/confd
          make build
          sudo make install

      - name: Test Consul
        run: |
          test/integration/backends/consul/test.sh
          test/integration/shared/expect/check.sh
        env:
          CONSUL_HOST: consul
          CONSUL_PORT: 8500

      - name: Test etcd
        run: |
          test/integration/backends/etcd/test.sh
          test/integration/shared/expect/check.sh
        env:
          ETCD_ENDPOINT: "http://etcd:2379"

      - name: Test Redis
        run: |
          test/integration/backends/redis/test.sh
          test/integration/shared/expect/check.sh
        env:
          REDIS_HOST: redis
          REDIS_PORT: 6379

      - name: Test Zookeeper
        run: |
          test/integration/backends/zookeeper/test.sh
          test/integration/shared/expect/check.sh
        env:
          ZOOKEEPER_NODE: zookeeper

  # Tests requiring Vault
  vault-tests:
    runs-on: ubuntu-latest
    container: ubuntu:22.04
    services:
      vault:
        image: hashicorp/vault
        ports:
          - 8200:8200
        env:
          VAULT_DEV_ROOT_TOKEN_ID: "super-secret-token"

    steps:
      - name: Install dependencies
        run: |
          apt-get -q update
          DEBIAN_FRONTEND="noninteractive" apt-get install -y git curl make sudo gnupg2 lsb-release
          echo "deb [arch=$(dpkg --print-architecture)] https://apt.releases.hashicorp.com $(lsb_release -cs) main" >> /etc/apt/sources.list
          curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
          apt-get -q update
          DEBIAN_FRONTEND="noninteractive" apt-get install -y vault

      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.5"

      - name: Build and Install
        run: |
          git config --global --add safe.directory /__w/confd/confd
          make build
          sudo make install

      - name: Test Vault KV v1
        run: |
          test/integration/backends/vault/kv-v1/test.sh
          test/integration/shared/expect/check.sh
        env:
          VAULT_ADDR: http://vault:8200
          VAULT_TOKEN: "super-secret-token"

      - name: Test Vault KV v2
        run: |
          test/integration/backends/vault/kv-v2/test.sh
          test/integration/shared/expect/check.sh
        env:
          VAULT_ADDR: http://vault:8200
          VAULT_TOKEN: "super-secret-token"

      - name: Test Vault AppRole
        run: |
          test/integration/backends/vault/approle/test.sh
          test/integration/shared/expect/check.sh
        env:
          VAULT_ADDR: http://vault:8200
          VAULT_TOKEN: "super-secret-token"

  # Tests requiring AWS services (LocalStack)
  aws-tests:
    runs-on: ubuntu-latest
    container: ubuntu:22.04
    services:
      localstack:
        image: localstack/localstack-pro
        ports:
          - 4566:4566
        env:
          LOCALSTACK_AUTH_TOKEN: ${{ secrets.LOCALSTACK_AUTH_TOKEN }}
          SERVICES: dynamodb,ssm,acm,secretsmanager

    steps:
      - name: Install dependencies
        run: |
          apt-get -q update
          DEBIAN_FRONTEND="noninteractive" apt-get install -y git curl make sudo awscli openssl

      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.5"

      - name: Build and Install
        run: |
          git config --global --add safe.directory /__w/confd/confd
          make build
          sudo make install

      - name: Test DynamoDB
        run: |
          test/integration/backends/dynamodb/test.sh
          test/integration/shared/expect/check.sh
        env:
          AWS_ACCESS_KEY_ID: "test"
          AWS_SECRET_ACCESS_KEY: "test"
          AWS_REGION: "us-east-1"
          AWS_DEFAULT_REGION: "us-east-1"
          DYNAMODB_LOCAL: 1
          DYNAMODB_ENDPOINT_URL: http://localstack:4566

      - name: Test SSM Parameter Store
        run: |
          test/integration/backends/ssm/test.sh
          test/integration/shared/expect/check.sh
        env:
          AWS_ACCESS_KEY_ID: "test"
          AWS_SECRET_ACCESS_KEY: "test"
          AWS_REGION: "us-east-1"
          AWS_DEFAULT_REGION: "us-east-1"
          SSM_LOCAL: "1"
          SSM_ENDPOINT_URL: "http://localstack:4566"

      - name: Test ACM
        run: |
          test/integration/backends/acm/test.sh
        env:
          AWS_ACCESS_KEY_ID: "test"
          AWS_SECRET_ACCESS_KEY: "test"
          AWS_REGION: "us-east-1"
          AWS_DEFAULT_REGION: "us-east-1"
          ACM_LOCAL: "1"
          ACM_ENDPOINT_URL: "http://localstack:4566"

      - name: Test Secrets Manager
        run: |
          test/integration/backends/secretsmanager/test.sh
        env:
          AWS_ACCESS_KEY_ID: "test"
          AWS_SECRET_ACCESS_KEY: "test"
          AWS_REGION: "us-east-1"
          AWS_DEFAULT_REGION: "us-east-1"
          SECRETSMANAGER_LOCAL: "1"
          SECRETSMANAGER_ENDPOINT_URL: "http://localstack:4566"
